<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>C++ code Standard Evaluator</title>
  {% load static %}
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="indigo" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
        <img id="tec-logo" src="{% static "img/logo-tec.png" %}" alt="">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="white-text">Input</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" class="white-text">Input</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  {% block content %}
  {% endblock %}

  <footer class="page-footer indigo">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Iceberg Bio</h5>
          <p class="grey-text text-lighten-4">
            Started on August 2016.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">The team</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/AndresGalaviz">Andrés Galaviz</a></li>
            <li><a class="white-text" href="https://github.com/julio177">Julio Aguilar</a></li>
            <li><a class="white-text" href="https://github.com/edgarrodriguezturrubiates">Edgar Rodríguez</a></li>
            <li><a class="white-text" href="https://github.com/mimien">Emilio Cornejo</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">External links</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/AndresGalaviz/CodingStandard">Repository</a></li>
            <li><a class="white-text" href="https://github.com/kunaltyagi/nsiqcppstyle">NSIQCPPStyle</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made using <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
