{% extends 'base.html' %}
{% block content %}
<div class="container"> 
    <div class="center-align">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pantalla de loading -->
<div class="container">
    <div class="row">
        <div class="center-align">
            <h3>PROCESANDO LOS ARCHIVOS...</h3>
            <h5>(Esto puede tomar algún tiempo)</h5>
        </div>
    </div>
</div>
{% endblock %}